<!--
 * @Author: xuranXYS
 * @LastEditTime: 2023-12-29 08:57:16
 * @GitHub: www.github.com/xiaoxustudio
 * @WebSite: www.xiaoxustudio.top
 * @Description: By xuranXYS
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title use-template>{{ this.title }}</title>
    <link rel="stylesheet" href="../public/css/xr.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white" title>
        <div class="container-fluid">
            <a class="navbar-brand px-md-5" href="#" use-template>
                <img src="../public/img/google.png" alt="Logo" width="30" height="30"
                    class="d-inline-block align-text-top">
                {{ this.title }}
            </a>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="./">首页</a>
                    </li>
                    <li class="nav-item" @x-if="this.login!=true" use-template no-replace>
                        <a class="nav-link" href="./login">登录</a>
                    </li>
                    <li class="nav-item" @x-if="this.login!=true" use-template no-replace>
                        <a class="nav-link" href="./register">注册</a>
                    </li>
                    <li class="nav-item" @x-if="this.login==true" use-template no-replace>
                        <a class="nav-link" href="#" use-template>欢迎您，{{ this.phone }}用户</a>
                    </li>
                    <li class="nav-item dropdown" @x-if="this.login==true" use-template no-replace>
                        <button type="button" class="btn dropdown-toggle" @click="updateBalance" use-template>欢迎您，{{
                            this.phone }}用户</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/userdetail">个人信息</a></li>
                            <li><a class="dropdown-item" href="#" use-template>余额：{{this.balance}}</a></li>
                            <li id="other-item"><a class="dropdown-item" href="#">其他</a>
                                <ul class="dropdown-submenu">
                                    <li @click="loginout" use-template><a
                                            class="dropdown-item text-muted user-select-none"
                                            style="cursor: pointer;">注销</a></li>
                                    <li><a class="dropdown-item text-muted user-select-none"
                                            style="cursor: pointer;">暂无内容</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" @x-if="this.login==true" use-template no-replace>
                        <a class="nav-link" href="./shopcartall" use-template>我的购物车</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link user-select-none" style="cursor: pointer;" @click="show"
                            use-template>使用说明</a>
                    </li>
                </ul>
            </div>
    </nav>
    <!-- 内容 -->
    <div class="container bg-white login-container user-select-none">
        <div class="row p-5 m-2">
            <div class="col-md row align-middle justify-content-center align-content-center">
                <img class="img-thumbnail rounded" src="../public/img/register_img@2x.png" alt="">
            </div>
            <div class="col-md-8">
                <form action="/register" method="post">
                    <div class="form-group">
                        <label for="phone">电话</label>
                        <input type="tel" class="form-control p-3 m-3" id="phone" placeholder="请输入电话号码" name="phone"
                            required>
                        <div id="phonev" class="text-end valid-feedback">
                            验证区域
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="user">用户名</label>
                        <input type="text" class="form-control p-3 m-3" id="user" placeholder="请输入用户名" name="nickname"
                            required>
                        <div id="userv" class="text-end valid-feedback">
                            验证区域
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass">密码</label>
                        <input type="password" class="form-control p-3 m-3" id="pass" placeholder="请输入密码"
                            autocomplete="off" name="password" required>
                        <div id="passv" class="text-end valid-feedback">
                            验证区域
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass_re">重复密码</label>
                        <input type="password" class="form-control p-3 m-3" id="pass_re" placeholder="请再次输入密码"
                            autocomplete="off" name="password2" required>
                        <div id="pass_rev" class="text-end valid-feedback">
                            验证区域
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2 row text-center justify-content-center align-content-center">
                            <label for="check">验证码</label>
                        </div>
                        <div class="col-md ">
                            <input type="text" class="form-control p-3 m-3"
                                id="check" placeholder="请输入验证码" maxlength="4" required>
                        </div>
                        <div class="col-md-2 row  align-content-center">
                            <canvas id="showx" width="100" height="46" @click="createCheck" use-template style="cursor: pointer;"></canvas>
                        </div>
                        <div class="col-md-12">
                            <div id="codev" class="text-end valid-feedback">
                                验证区域
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center ">
                        <button type="submit" class="btn btn-primary px-md-5 ">注册</button>
                    </div>
                    <div class="form-group">
                        <div style="color: red;" id="divshow" class="text-center p-3"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 模板 -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="../public/img/google.png" class="rounded me-2 " width="32px" alt="...">
                <strong class="me-auto">XYS提示您</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" use-template>
                {{ this.message }} {{ this.arr[Math.floor(Math.random() * this.arr.length)] }}
            </div>
        </div>
    </div>
    <div id="overlay">
        <div class="popup">
            <p class="popup_title"></p>
            <p class="popup_content"></p>
        </div>
    </div>
    <script src="../public/js/jq.js"></script>
    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/xr.js"></script>
    <script>
        // 创建全局模板
        const app = new Template({
            data() {
                return {
                    title: "爱购物",
                    message: "这将会是一个随机的内容：",
                    arr: ["随机值1", "是随机2", "还是随机3"],
                    code: "",
                    user: "root",
                    password: "123456",
                }
            },
            methods: {
                show() {
                    // 每次显示更新文本
                    const toastLiveExample = $('#liveToast')
                    const toast = new bootstrap.Toast(toastLiveExample)
                    app.update($("#liveToast .toast-body")[0])
                    toast.show()
                }, loginout() {
                    this.phone = window.sessionStorage.removeItem("phone")
                    this.token = window.sessionStorage.removeItem("token")
                    this.login = false
                    app.update($("#navbarNav")[0])
                    window.location.hrer = "./"
                },
                createCheck() {
                    const randomNum = (min, max) => {
                        return Math.floor(Math.random() * (max - min) + min)
                    }
                    const randomRGBColor = (minColor, maxColor, op = 1) => {
                        return `rgba(${randomNum(minColor, maxColor)},${randomNum(minColor, maxColor)},${randomNum(minColor, maxColor)}, ${op})`
                    }
                    this.code = Math.random().toString(32).padEnd(4, 0).substring(2, 6)
                    let canvas = document.getElementById("showx")
                    const width = 100
                    const height = 46
                    let ctx = canvas.getContext("2d")
                    // 清空
                    canvas.width = width
                    canvas.height = height
                    // 绘制背景
                    let color = randomRGBColor(140, 240);
                    ctx.fillStyle = color
                    ctx.fillRect(0, 0, width, height);
                    // 绘制验证码
                    color = randomRGBColor(30, 140);
                    ctx.fillStyle = color;
                    ctx.font = "30px sans-serif"
                    ctx.fillText(this.code, 10, height / 1.5)
                    // 绘制点遮挡
                    color = randomRGBColor(30, 140);
                    ctx.fillStyle = color;
                    ctx.font = "2px sans-serif"
                    for (let i = 0; i < 100; i++) {
                        let x = randomNum(0, width)
                        let y = randomNum(0, height)
                        ctx.fillRect(x, y, 2, 2)
                    }
                    // 绘制线遮挡
                    ctx.font = "2px sans-serif"
                    for (let i = 0; i < 30; i++) {
                        color = randomRGBColor(30, 140, Math.random());
                        ctx.fillStyle = color;
                        let x = randomNum(0, width)
                        let y = randomNum(0, height)
                        ctx.rotate(Math.PI * 180 + randomNum(-360, 360))
                        ctx.fillRect(0, y, width, 2)
                    }
                }, updateBalance() {
                    $.ajax({
                        type: "data",
                        method: "post",
                        url: "/userdetail",
                        data: { phone: window.sessionStorage.getItem("phone"), token: window.sessionStorage.getItem("token") },
                    }).then(data => {
                        let arr = JSON.parse(data)
                        if (arr.status == 1) {
                            this.balance = arr.data[0].balance
                        } else { this.balance = "查询失败" }
                    })
                },
            }
        })
        function checkPhone() {
            let content = $("#phone").val()
            let reg = /^1[3456789]\d{9}$/;
            let divs = $("#phonev")
            divs.html("").show().parent().addClass("was-validated").removeClass("invalid-feedback valid-feedback")
            if (!reg.test(content)) {
                divs.addClass("invalid-feedback").html("电话必须以1[3456789]开头且是11位")
                $("#phone")[0].setCustomValidity("电话必须以1[3456789]开头且是11位")
                return false
            }
            $("#phone")[0].setCustomValidity("")
            divs.addClass("valid-feedback")
            return true
        }
        function checkUser() {
            let content = $("#user").val()
            let reg = /^[0-9a-zA-Z]{2,10}$/g
            let divs = $("#userv")
            divs.html("").show().parent().addClass("was-validated").removeClass("invalid-feedback valid-feedback")
            if (!reg.test(content)) {
                divs.addClass("invalid-feedback").html("用户名必须是2-10位")
                $("#user")[0].setCustomValidity("用户名必须是2-10位")
                return false
            }
            $("#user")[0].setCustomValidity("")
            divs.addClass("valid-feedback")
            return true
        }
        function checkPass() {
            let content = $("#pass").val()
            let reg = /^[0-9a-zA-Z]{2,10}$/g
            let divs = $("#passv")
            divs.html("").show().parent().addClass("was-validated").removeClass("invalid-feedback valid-feedback")
            if (!reg.test(content)) {
                divs.addClass("invalid-feedback").html("密码必须是2-10位")
                $("#pass")[0].setCustomValidity("密码必须是2-10位")
                return false
            }
            $("#pass")[0].setCustomValidity("")
            divs.addClass("valid-feedback")
            return true
        }
        function checkRePass() {
            let content = $("#pass").val()
            let content1 = $("#pass_re").val()
            let divs = $("#pass_rev")
            divs.html("").show().parent().addClass("was-validated").removeClass("invalid-feedback valid-feedback")
            if ((content.length == 0 || content1.length == 0) || content != content1) {
                divs.addClass("invalid-feedback").html("两次密码不一致")
                console.log(divs)
                $("#pass_re")[0].setCustomValidity("两次密码不一致")
                return false
            }
            $("#pass_re")[0].setCustomValidity("")
            divs.addClass("valid-feedback")
            return true
        }
        function checkCheck() {
            let content = $("#check").val()
            let reg = /^[0-9a-zA-Z]{4}$/g
            let divs = $("#codev")
            divs.html("").show().parent().parent().addClass("was-validated").removeClass("invalid-feedback valid-feedback")
            if (!reg.test(content)) {
                divs.addClass("invalid-feedback").html("验证码输入错误")
                $("#check")[0].setCustomValidity("验证码输入错误")
                return false
            }
            $("#check")[0].setCustomValidity("")
            divs.addClass("valid-feedback")
            return true
        }
        // 首次进入
        $(document).ready(() => {
            $("#phone").blur(checkPhone)
            $("#user").blur(checkUser)
            $("#pass").blur(checkPass)
            $("#pass")[0].addEventListener("input",e => $("#pass_re").val().length > 0 ? checkRePass() : false)
            $("#pass_re").blur(checkRePass)
            $("#check").blur(checkCheck)
            $("button[type=submit]").click((e) => {
                e.preventDefault()
                if (checkCheck()) {
                    if (checkUser() && checkPass() && checkRePass() && checkPhone()) {
                        $.ajax({
                            url: "/register",
                            method: "post",
                            data: {  nickname : $("#user").val(), 
                            phone: $("#phone").val(), password: $("#pass").val() },
                        }).then(data => {
                            let obj = JSON.parse(data)
                            const overlay = $("#overlay");
                            if (obj.status == 1) {
                                // 成功
                                overlay.find(".popup_title").html("提示")
                                overlay.find(".popup_content").html(`<b style='color:green'>${obj.msg}</b>`)
                                window.sessionStorage.setItem("phone",obj.phone)
                                window.sessionStorage.setItem("token",obj.token)
                            } else {
                                // 失败
                                overlay.find(".popup_title").html("提示")
                                overlay.find(".popup_content").html(`<b style='color:red'>${obj.msg}</b>`)
                            }
                            overlay.show()
                            setTimeout(()=>{
                                window.location.href = obj.target
                            },1000)
                        })
                    } else {
                        alert("信息填写错误")
                        app.callv("createCheck")
                        return false
                    }
                } else {
                    alert("验证码错误")
                    app.callv("createCheck")
                    return false
                }
            })
            app.callv("createCheck")
            $(".dropdown").mouseover(function () {
                app.callv("updateBalance")
                $(".dropdown-menu").show()
            })
            $(".dropdown").mouseleave(function () {
                app.callv("updateBalance")
                $(".dropdown-menu").hide()
                $(".dropdown-submenu").hide()
            })
            $("#other-item").mouseover(function () {
                $(".dropdown-submenu").show()
            })
            $("#other-item").mouseleave(function () {
                $(".dropdown-submenu").hide()
            })
            $(".dropdown-submenu").mouseleave(function () {
                $(this).hide()
            })
        })
        if (window.sessionStorage.getItem("phone") && window.sessionStorage.getItem("token")) {
            app.data.login = true
            app.data.phone = window.sessionStorage.getItem("phone")
            app.data.token = window.sessionStorage.getItem("token")
        } else { app.data.login = false }
        console.log(app)
    </script>
</body>

</html>