<!--
 * @Author: xuranXYS
 * @LastEditTime: 2023-12-29 08:57:21
 * @GitHub: www.github.com/xiaoxustudio
 * @WebSite: www.xiaoxustudio.top
 * @Description: By xuranXYS
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title use-template>{{ this.title }}</title>
    <link rel="stylesheet" href="../public/css/xr.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white" title>
        <div class="container-fluid">
            <a class="navbar-brand px-md-5" href="#" use-template>
                <img src="../public/img/google.png" alt="Logo" width="30" height="30"
                    class="d-inline-block align-text-top">
                {{ this.title }}
            </a>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="./">首页</a>
                    </li>
                    <li class="nav-item" @x-if="this.login!=true" use-template no-replace>
                        <a class="nav-link" href="./login">登录</a>
                    </li>
                    <li class="nav-item" @x-if="this.login!=true" use-template no-replace>
                        <a class="nav-link" href="./register">注册</a>
                    </li>
                    <li class="nav-item dropdown" @x-if="this.login==true" use-template no-replace>
                        <button type="button" class="btn dropdown-toggle" @click="updateBalance" use-template>欢迎您，{{
                            this.phone }}用户</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/userdetail">个人信息</a></li>
                            <li><a class="dropdown-item" href="#" use-template>余额：{{this.balance}}</a></li>
                            <li id="other-item"><a class="dropdown-item" href="#">其他</a>
                                <ul class="dropdown-submenu">
                                    <li @click="loginout" use-template><a
                                            class="dropdown-item text-muted user-select-none"
                                            style="cursor: pointer;">注销</a></li>
                                    <li><a class="dropdown-item text-muted user-select-none"
                                            style="cursor: pointer;">暂无内容</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" @x-if="this.login==true" use-template no-replace>
                        <a class="nav-link" href="./shopcartall" use-template>我的购物车</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link user-select-none" style="cursor: pointer;" @click="show"
                            use-template>使用说明</a>
                    </li>
                </ul>
            </div>
    </nav>
    <!-- 内容 -->
    <div class="flex-column">
        <div class="p-2 mx-5"><button class="btn" @click="window.location.href='./'" use-template>返回</button></div>
        <div class="p-2 mx-5">已搜索到 <span class="fw-bold" use-template>{{this.reslist.length||0}}</span> 条结果</div>
        <div class="flex-column mx-5" @use-id="tem_item" id="item_container" use-template>
        </div>
    </div>
    <!-- 模板 -->
    <template @tmp-id="tem_item" @x-for="item in this.reslist" no-run>
        <div class="row xr-card" style="margin: 20px;cursor: pointer;" id="card-xr-ani">
            <div class="card" style="width: 18rem;">
                <div class="flex-column justify-content-center align-items-center text-center"><img
                        src="../public/img/shopItem/$item.p_img1" class="card-img-top m-4"
                        style="width: 150px;height: 150px;" use-template></div>
                <div class="card-body">
                    <h5 class="card-title text-center" 
                    style="text-overflow: ellipsis;white-space:nowrap;overflow: hidden;" use-template> {{ $item.p_name}} </h5>
                    <p class="card-text px-5 text-dark-emphasis"
                    style="line-height: 20px;max-height: 100px;min-height: 100px;font-size: 12px;
                    -webkit-line-clamp:2;text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;" use-template>{{
                    $item.p_present }}
                    </p>
                    <div class="text-center" style="font-size: 12px;">
                        <span>设备分类：</span>
                        <a @x-if="$item.p_type==='ad-product-computer'" use-template no-replace>电脑</a>
                        <a @x-else-if="$item.p_type==='ad-product-phone'" use-template no-replace>手机</a>
                        <a @x-else-if="$item.p_type==='ad-product-ear'" use-template no-replace>耳机</a>
                        <a @x-else-if="$item.p_type==='ad-product-pad'" use-template no-replace>平板</a>
                        <br>
                        <a @x-if="this.login===true" use-template no-replace> 已加入购物车数量： {{ this.resnum[$item.p_id] || 0
                            }}</a>
                    </div>
                    <div class="p-4 text-center">
                        ￥ <a class="text-decoration-line-through" style="color: red;" use-template> {{ $item.p_price2 }}
                        </a>
                        <a style="font-weight: bold;color: red;" use-template>{{ $item.p_price1 }}</a> 元
                    </div>
                    <div class="text-center"><a class="btn px-3 border-dark-subtle" index="$item.p_id" @click="add_shopcart" use-template>加入购物车</a></div>
                </div>
            </div>
        </div>
    </template>
    <template @tmp-id="page_item" @x-for="(ind,item) in this.reslist" no-run>
        <li class="page-item"><a class="page-link user-select-none cp" index="$ind" @click="change_page_num($ind)"
                use-template>{{$ind}}</a></li>
    </template>
    <!-- 模板end -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="../public/img/google.png" class="rounded me-2 " width="32px" alt="...">
                <strong class="me-auto">XYS提示您</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" use-template>
                {{ this.message }} {{ this.arr[Math.floor(Math.random() * this.arr.length)] }}
            </div>
        </div>
        <div id="showToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="../public/img/google.png" class="rounded me-2 " width="32px" alt="...">
                <strong class="me-auto">XYS提示您</strong>
                <small>now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" use-template>
                {{ this.res_add }}
            </div>
        </div>
    </div>
    <script src="../public/js/jq.js"></script>
    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/xr.js"></script>
    <script>
        // 创建全局模板
        const app = new Template({
            data() {
                return {
                    title: "爱购物",
                    message: "这将会是一个随机的内容：",
                    arr: ["随机值1", "是随机2", "还是随机3"],
                    reslist: [],
                    resnum: {},
                    page_num: -1,
                    res_add: "",
                    balance: 0,
                }
            },
            methods: {
                show() {
                    // 每次显示更新文本
                    const toastLiveExample = $('#liveToast')
                    const toast = new bootstrap.Toast(toastLiveExample)
                    app.update($(".toast-body")[0])
                    toast.show()
                },
                add_shopcart(e) {
                    $.ajax({
                        type: "data",
                        method: "post",
                        url: "/addshopcart",
                        data: { phone: window.sessionStorage.getItem("phone"), token: window.sessionStorage.getItem("token"), id: e.srcElement.attributes["index"].nodeValue },
                    }).then(data => {
                        let res = JSON.parse(data)
                        app.data.res_add = res.msg
                        app.callv("updatenum")
                        // 每次显示更新文本
                        const toastLiveExample = $('#showToast')
                        const toast = new bootstrap.Toast(toastLiveExample)
                        app.update($("#showToast .toast-body")[0])
                        toast.show()
                    })
                },
                loginout() {
                    this.phone = window.sessionStorage.removeItem("phone")
                    this.token = window.sessionStorage.removeItem("token")
                    this.login = false
                    app.update($("#navbarNav")[0])
                    window.location.hrer = "./"
                },
                createCheck() {
                    this.code = Math.random().toString(32).padEnd(4, 0).substring(2, 6)
                    $("#showy").html(this.code)
                },
                update_view() {
                    new Promise((res, rev) => { res("") }).then(async e => {
                        return await app.callv("updatenum")
                    }).then(e => {
                        app.repeatupdate($("#item_container")[0], true, true).repeatupdate($("#page-tmp")[0], true, true)
                        // 动画
                        $(".card").hover(function () {
                            $(this).find("img").css("border", "solid 1px red")
                            // $(this).css("color","rgba(0,0,0,0.55)")
                        }, function () {
                            $(this).find("img").css("border", "")
                            // $(this).css("color", "")
                        })
                        // 使用mouseover和out（其实用hover就可以）
                        $(".card").mouseover(function () {
                            $(this).css("color", "rgba(0,0,0,0.55)")
                        })
                        $(".card").mouseout(function () {
                            $(this).css("color", "")
                        })
                    })
                },
                updatenum() {
                    if (this.reslist.length <= 0) { return }
                    let index = 0
                    let data = this.reslist
                    let num_arr = {}
                    // 获取当页购物车的数量
                    for (let i of data) {
                        $.ajax({
                            type: "data",
                            method: "post",
                            url: "/shopcartnum",
                            data: { phone: window.sessionStorage.getItem("phone"), token: window.sessionStorage.getItem("token"), id: i.p_id },
                        }).then(data => {
                            let res = JSON.parse(data)
                            if (res.status != 0) {
                                num_arr[i.p_id] = res.num
                            }
                            index++
                        }).then(() => {
                            if (index == data.length) {
                                this.resnum = num_arr
                                return true
                            }
                        })
                    }
                }
            }
        })
        if (window.sessionStorage.getItem("phone") && window.sessionStorage.getItem("token")) {
            app.data.login = true
            app.data.phone = window.sessionStorage.getItem("phone")
            app.data.token = window.sessionStorage.getItem("token")
        } else { app.data.login = false; window.location.href = "./" }
        $(document).ready(() => {
            let param = new URL_Param(window.location.search)
            if (!param.s_word) {
                window.location.href = "./"
            }
            $.ajax({
                type: "data",
                method: "post",
                url: "/searchshop",
                data: {
                    s_word: param.s_word,
                },
            }).then(data => {
                let res = JSON.parse(data)
                app.data.reslist = res.data
                app.callv("update_view")
            })
            $(".dropdown").mouseover(function () {
                app.callv("updateBalance")
                $(".dropdown-menu").show()
            })
            $(".dropdown").mouseleave(function () {
                app.callv("updateBalance")
                $(".dropdown-menu").hide()
                $(".dropdown-submenu").hide()
            })
            $("#other-item").mouseover(function () {
                $(".dropdown-submenu").show()
            })
            $("#other-item").mouseleave(function () {
                $(".dropdown-submenu").hide()
            })
            $(".dropdown-submenu").mouseleave(function () {
                $(this).hide()
            })
        })
        console.log(app)
    </script>
</body>

</html>