/* 清除默认边距 */
* {
    margin: 0px;
    padding: 0px;
}

.body-content {
    overflow: auto;
}

/* 设置导航 */
header {
    background-color: azure;
    width: 100%;
    box-shadow: 0 1px 10px #ccc;
}

/* 添加阴影（废弃） */
header::after {
    content: "";
    width: max-content;
    height: 2px;
    display: block;
    background-color: #000;
    text-shadow: 5px 5px 5px #000;
}

/* 标题 */
#title {
    text-overflow: clip;
    size: 20px;
    margin-left: 70px;
}

/* 以下是定义导航栏部分 */
header p {
    display: inline-block;
    margin: 20px;
    font-size: 25px;
}

header .bar {
    list-style-type: none;
    display: inline-block;
    margin-left: 140px;
}

header .bar .tli {
    display: inline-block;
    padding-left: 50px;
}
header .bar .tli a{
    padding: 10px;
}

/* 下面将li里面的a添加动画和去默认效果 */
header .bar .tli a {
    text-decoration: none;
    color: black;
    background: linear-gradient(to right, #ec695c, #61c454) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 400ms;
}

header .bar .tli a:hover {
    background-position-x: left;
    background-size: 100% 2px;
    color: #888;
}



/* 轮番部分 */
.content-div {
    width: 100%;
}

.content-div .lunfan {
    margin: 10px;
    height: 570px;
    text-align: center;
    vertical-align: middle;
}

.lunfan-view {
    background-position: center;
}

.left-view {
    text-decoration: none;
    color: aliceblue;
    position: relative;
    left: -400px;
    top: -270px;
    font-weight: bold;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(200, 200, 200, 0.5);
}

.right-view {
    text-decoration: none;
    color: aliceblue;
    position: relative;
    right: -650px;
    top: -270px;
    font-weight: bold;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(200, 200, 200, 0.5);
}

.point {
    background-color: rgba(150, 150, 150, 0.3);
    padding: 1px;
    display: inline-block;
    position: relative;
    top: -50px;
    width: 250px;
    left: -35px;
    text-align: center;
    vertical-align: middle;
}

.point-item {
    display: inline-block;
    background-color: rgba(240, 240, 240, 0.9);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.point-item:hover {
    display: inline-block;
    background-color: rgba(240, 240, 240, 0.9);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}


/* 底部 */
.bottom-content {
    width: 100%;
    text-align: center;
    height: 350px;
    display: inline-block;
}

/* 卡片布局 */
.bottom-content .card-view {
    margin: 20px;
    width: 350px;
    height: 250px;
    background-color: honeydew;
    display: inline-block;
    box-shadow: 0 1px 4px #ccc;
    border-radius: 20px;
    transition: box-shadow 400ms;
    display: flexbox;
    min-height: auto;
}

.bottom-content .card-view .card-title {
    margin: 5px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}

.bottom-content .card-view .card-content {
    margin: 5px;
    height: 80%;
    text-align: center;
}

.bottom-content .card-view:hover {
    box-shadow: 0 10px 10px #ccc;
}


/* 新卡片 */
.bottom-content .card-N{
    display: inline-block;
    position: relative;
}
.bottom-content .card-N  .card-N-content{
    position: relative;
    top: -230px;
    left: 0px;
    display: inline-block;
}

.aniselect{
    color: #000;
}


.bottom-content .card-N{
    cursor: pointer;
    transition: all 0.2s linear;
}
.bottom-content .card-N:hover{
    animation: leftani linear 1000ms forwards;
}
.bottom-content .card-N h1{
    color: #fff;
    transition: all 0.2s linear;
}
.bottom-content .card-N :hover{
    animation: colorchange linear 1000ms forwards;
}

@keyframes leftani{
    0%{
        opacity: 1;
    }
    100%{
        opacity: var(--max-opacity);
    }
}

@keyframes colorchange{
    0%{
        color: #fff;
    }
    100%{
        color: #000;
    }
}

/* 版权部分 */
.copy-bottom {
    text-align: center;

}

#l-title {
    width: 200px;
    height: 200px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* 颜色 */
.f-white {
    color: #fff;
}



.dropdown {
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    padding: 5px;
    display: none;
    top: 70px;
    left: 500px;
}


.dropdown div{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    background: #d4d4d4;
    margin-top: 4px;
    margin-bottom: 4px;
}










